

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #f5f5f5;
  }
  
  .signup-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px;
  }
  
  form {
    width: 100%;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .custom-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #FFA500;
  }
  
  .custom-button:hover {
    background-color: #ff8000;
  }
  
  @media (min-width: 640px) {
    body {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  